*~
*#
*.a
*.o
*.gmo
Compilation.flags
config.h
config.log
config.status
Makefile
.deps/
/po/Makefile.in
/po/POTFILES
/src/utils/scripts/denoiser.sed
/src/utils/xas/autostart-xas
/stamp-h1
/src/libs/ec/ECGeneratedFiles
/src/libs/ec/cpp/EC-timestamp
/src/libs/ec/cpp/ECVersion.h
/src/libs/ec/cpp/mkFileSum

/src/Parser.output
/src/amule
/src/amulecmd
/src/amuled
/src/amulegui
/src/ed2k
/src/utils/aLinkCreator/src/alc
/src/utils/aLinkCreator/src/alcc
/src/utils/cas/cas
/src/utils/wxCas/src/wxcas
